<main>
  <section class="intro">
      <h1>Welcome to CSE Motors!</h1>
      <div class="car-section">
          <img src="../public/images/vehicles/delorean.jpg" alt="DMC Delorean" class="car-image">
          <div class="car-details">
              <h2>DMC Delorean</h2>
              <ul>
                  <li>3 Cup holders</li>
                  <li>Superman doors</li>
                  <li>Fuzzy dice!</li>
              </ul>
              <a><img src="../public/images/site/own_today.png" alt="Own Today" class="btn"></a>
          </div>
      </div>
  </section>

  <section class="extras">
      <div class="upgrades">
          <h3 class="subtitle">Delorean Upgrades</h3>
          <div class="upgrade-grid">
              <div class="upgrade-item">
                  <img src="../public/images/upgrades/flux-cap.png" alt="Flux Capacitor">
              </div>
              <a href="">Flux Capacitor</a>
              <div class="upgrade-item">
                  <img src="../public/images/upgrades/flame.jpg" alt="Flame Decals">
              </div>
              <a href="">Flame Decals</a>
              <div class="upgrade-item">
                  <img src="../public/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
              </div>
              <a href="">Bumper Stickers</a>
              <div class="upgrade-item">
                  <img src="../public/images/upgrades/hub-cap.jpg" alt="Hub Caps">
              </div>
              <a href="">Hub Caps</a>
          </div>
      </div>

      <div class="reviews">
          <h3 class="subtitle">DMC Delorean Reviews</h3>
          <ul>
              <li>“So fast it's almost like traveling in time.” (4/5)</li>
              <li>“Coolest ride on the road.” (4/5)</li>
              <li>“I'm feeling McFly!” (5/5)</li>
              <li>“The most futuristic ride of our day.” (4.5/5)</li>
              <li>“80’s livin and I love it!” (5/5)</li>
          </ul>
      </div>
  </section>
</main>

